#form {
	display: flex;
	flex-direction: column;
	padding: 30px;
	flex-wrap: wrap;
}
#form div {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
label {
	margin: 5px 0;
	padding: 5px 0;
	text-align: left;
}
input,
textarea {
	margin: 5px 0;
	padding: 5px 0;
}
@media screen and (min-width: 768px) {
	#form div {
		flex-direction: row;
	}
	label {
		flex: 1;
		text-align: right;
		margin-right: 15px;
		max-width: 300px;
	}
	input,
	textarea {
		flex: 2;
		max-width: 300px;
	}
}

@media screen and (min-width: 992px) {
	#form {
		flex-direction: row;
		gap: 2%;
	}
	#form div {
		width: 49%;
		flex-direction: row;
	}
	label {
		margin: 5px 0;
		padding: 5px 0;
		text-align: left;
	}
	input,
	textarea {
		margin: 5px 0;
		padding: 5px 0;
	}
}
