header {
	padding: 10px;
	color: red;
	text-align: center;
}

#block-1 {
	display: inline-block;
	width: 20%;
	height: 100px;
	background-color: green;
}
#block-2 {
	display: inline-block;
	width: 20%;
	height: 100px;
	background-color: red;
}
